*{
    box-sizing: border-box;
}

body {
    margin:0;
    padding:0
}

main {
    padding:16px;
}

footer {
    padding:24px 0;
}

img {
    height:200px
}

nav{
    font-weight: bold;
    background-color: darkkhaki;
    border-bottom: 1px solid white;
    padding:16px
}

a{
    text-decoration: none;
}

footer{
    padding: 20px;
    background-color: darkkhaki;
}

.text-color{
    color: white;
    font-family: "Roboto" ,arial,sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-self: center;
}

.text-align {
    vertical-align: top;
    justify-self: start;
    color: saddlebrown
}

img {
    height: 190px;
    width: 190px;
}

h1 {
    color: #654321;
}

.stars{
    margin: 0;
}
